name: 'Test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read
  id-token: write

jobs:
  test-branch-on-remote: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          repo_secrets: |
            GITHUB_APP_ID=helper-bot:app-id
            GITHUB_APP_PRIVATE_KEY=helper-bot:private-key
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ env.GITHUB_APP_ID }}
          private-key: ${{ env.GITHUB_APP_PRIVATE_KEY }}
          
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      - run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'
          
      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_on_remote-$(date +%s)"
          
          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME
          
          git status --porcelain=v2 --branch --untracked-files=no
          
          echo $BRANCH_NAME > "test-file.txt"
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."

  test-branch-not-on-remote: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_not_on_remote-$(date +%s)"
          
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          git checkout -b $BRANCH_NAME
          
          git status --porcelain=v2 --branch --untracked-files=no
          
          echo $BRANCH_NAME > "test-file.txt"
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          create-branch-on-remote: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
  test-not-stage-all-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_not_stage_all_files-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME

          echo $BRANCH_NAME > "test-file1.txt"
          echo $BRANCH_NAME > "test-file2.txt"
          
          git add test-file1.txt
          
          git status --porcelain=v2 --branch --untracked-files=no
          
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: false
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
  test-stage-all-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_stage_all_files-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME

          echo $BRANCH_NAME > "test-file1.txt"
          echo $BRANCH_NAME > "test-file2.txt"
          
          git add test-file1.txt
          
          git status --porcelain=v2 --branch --untracked-files=no
          
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 2 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."

  test-multiple-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_multiple_files-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME
          
          echo $BRANCH_NAME > "test-file1.txt"
          echo $BRANCH_NAME > "test-file2.txt"
          
          git add .
          
          git status --porcelain=v2 --branch --untracked-files=no
          
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: false
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 2 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 2 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
  test-file-rename: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_file_rename-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME
          
          mv test-files/test-renames.old test-files/test-renames.new
          
          git add .

          git status --porcelain=v2 --branch --untracked-files=no

          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."

  test-modify-file: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_modify-file-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME
          
          echo "new file content" >> test-files/test-modify.txt
          
          git add .

          # output status here to manually verify file changes
          git status --porcelain=v2 --branch --untracked-files=no

          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
  test-delete-file: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_delete-file-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME

          rm test-files/test-delete.txt

          git add .

          # output status here to manually verify file changes
          git status --porcelain=v2 --branch --untracked-files=no

          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
  test-token-url: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup test branch
        id: setup-test-branch
        run: |
          BRANCH_NAME="test_token_url-$(date +%s)"

          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git config --global url.https://x-access-token:${{ inputs.token }}@github.com/.insteadOf https://github.com/

          git checkout -b $BRANCH_NAME
          git push --set-upstream origin $BRANCH_NAME

          git status --porcelain=v2 --branch --untracked-files=no

          echo $BRANCH_NAME > "test-file.txt"
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      - uses: ./
        id: test-action
        with:
          token: ${{ github.token }}
          stage-all-files: true
          commit-message: ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Delete test branch
        run: |
          git push --force --delete origin ${{ steps.setup-test-branch.outputs.branch-name }}
      - name: Check output
        run: |
          changedFilesIfAvailable=$(echo '${{ steps.test-action.outputs.commit-response }}' | jq -r '.data.createCommitOnBranch.commit.changedFilesIfAvailable')

          if [[ -z "$changedFilesIfAvailable" || "$changedFilesIfAvailable" == "null" ]]; then
            echo "Error: changedFilesIfAvailable is empty or null. Verify the output from test-action."
            exit 1
          fi

          if [[ "$changedFilesIfAvailable" -ne 1 ]]; then
            echo "Error: changedFilesIfAvailable is expected to be 1 but got $changedFilesIfAvailable."
            exit 1
          fi

          echo "Validation passed: changedFilesIfAvailable is $changedFilesIfAvailable."
